body
{
    background-color: black;
    margin-top: 40px;
}

div[title]
{
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: times-new-roman;
}

.modal-body
{
    height: 350px;
    overflow-y: auto;
}

.card-text
{
    color: black;
}

.collapse
{
    color: #C70039;
}

.itemStore
{
    color: black;
    background-color: whitesmoke;
}

.itemStore p[title]
{
    font-weight: 600;
    font-size: 20px;
}

.edit-item
{
    margin: 0px 10px 5px;
}

.delete-item
{
    margin: 0px 0px 5px;
}

.collapse p#uo, .collapse p#eo
{
    font-size: 12px;
}